useDynLib(depth, 
halfmed,
fdepth,
ojadepth,
stand,
depth3,
standpd,
hdepth,
medctr,
medctr78,
deeplocstand,
deepest,
liumed,
ojamed,
ojaiso3d,
iso3d
)
import(grDevices, rgl, circular)
export(
depth,
med,
trmean,
ctrmean,
perspdepth,
isodepth, 
sdepth,
smed, 
strmeasure, 
scontour)
